 @import url('https://fonts.googleapis.com/icon?family=Material+Icons');

.add {
  display: block;
  background-color: green;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.wrapper {
  display: flex;
  flex-direction: column;
}

.icon {
  align-self: end;
}

.products {
  display: flex;
  flex-wrap: wrap;
  margin: 10px 0 0 0;
}

.product-item__card {
  width: 300px;
  display: flex;
  flex-direction: column;
  margin: 10px;
  background-color: #5F9EA0;
}

.card__title {
  margin: 0;
}

.card__img {
  display: block;
  padding: 20px 0 20px 0;
}

.card__info {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0 30px 11px 30px;
}

.info__button {
  padding: 5px;
}


.product-item__list {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  margin: 0 0 10px 0;
  background-color: #5F9EA0;
  padding: 5px;
}

.list__img {
  display: block;
  width: 100px;
  height: 100px;
}

.list__title {

}

.list__subtitle {

}

.list__info__price {

}
